{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<ul class="nav nav-pills " role="navigation">
    <li><img alt="Brand" src='/static/image/dlnu.png'></li>
    <li class=""><a href="./">DLNU-onlinejudge</a></li>
    <li class=""><a href="./showproblem">题库</a></li>
    <li class=""><a href="#">比赛</a></li>
    {% if current_user.is_authenticated %}
        <li class=""><a href="./logout">注销</a></li>
    {% else %}
        <li class=""><a href="./login">登录</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}
  <h1>Hello, Bootstrap</h1>
{% endblock %}