{% extends "bootstrap/base.html" %}
{% block title %}
    This is an example page
{% endblock %}

{% block styles %}
    <link rel="icon" href="/static/image/logo.png">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/main.css">
{% endblock %}

{% block navbar %}

<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="./" class="navbar-brand"></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="./">首页</a> </li>
            <li><a href="./showproblem">题库</a> </li>
            <li><a href="#">比赛</a> </li>
            <li><a href="./showstatus">状态</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right ">
            <li><button type="button" class="navbar-btn btn btn-primary btn-sm" ><a href="./register">账号申请</a></button></li>
            <li><a href="./login">登陆</a> </li>
        </ul>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container">
<div class="col-sm-2">adskhjsafhjasfhja</div>
<div class="col-sm-7">askdjkfja</div>
<div class="col-sm-3">dsajfksahfjashdj</div>
</div>
{% endblock %}